{% extends "base.html" %}

{% block title %}
    Categories
{% endblock %}

{% block content %}

    <h1>
        Categories
    </h1>

    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url "expenses:category" category.id %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

<hr>

<a class="btn btn-primary"
   href="{% url "expenses:create_category" %}"><span
        class="glyphicon glyphicon-pencil"></span> New Category</a>


{% endblock %}

